.rb-main{
    width: 90%;
    height: 100%;
    min-width: 50vw;
    min-height: 50vh;
}

nav {
    height: 24px;
    font-size: 22px;
    border-bottom: 1px solid grey;
    padding: 20px 0 0 20px;
}
.rb-nav{
    padding: 0 10px;
    border: 1px solid grey;
    background-color: #e5e5e5;
    outline: none;
}

.rb-nav.active {
    background-color: #f1f1f1;
    border-bottom:1px solid #f1f1f1;
    border-radius: 10px 10px 0 0;
}

.rb-nav-menu a{
    text-decoration: none;
    color: black;
}
.rb-nav:hover{
    background-color: white;
}
.rb-nav.active:hover{
    background-color: #f1f1f1;
}

.rb-container{
    padding: 30px 0 0 20px;
    font-size: 18px;
}

.rs-table-hidden{
    display: none;
}
.rb-container .rs-name{
    font-size: 13pt;
    color: #547fa0;
    font-weight: bold;
    font-family: Circe;
    width: 420px;
}
.rb-container .rs-description{
    line-height: 19px;
    font-size: 9pt;
    width: 420px;
}
.rb-container .rs-author{
    width: 420px;
    font-size: 12.3px;
}
.rb-container .rs-link-description{
    font-size: 12.6pt;
    font-size: 17px;
    color: #547fa0;
    font-weight: bold;
    font-family: Circe;
}

.rb-container textarea { 
    resize: none; 
    width: 420px;
}
/*
.rb-container input[type="text"]{
    width: 400px;
    height: 40px;
    font-size: 20px;
}
.rb-container input[type="text"].rs-video-link{
    width: 262px;
}*/
.rb-container textarea{
    font-size: 20px;
}
.rb-container td {
    position: relative;
}
.rb-container .rs-symbol{
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.rs-cheсk-control{
    display: block;
    width: 30px;
    height: 30px;
}

.rs-cheсk-control.rs-input-error{
    background: url(images/nop_icon.png);
}
.rs-cheсk-control.rs-input-successfully{
    background: url(images/yep_icon.png);
}
.rs-cheсk-control.rs-input-error,
.rs-cheсk-control.rs-input-successfully{
    background-repeat: no-repeat;
    background-position: center;
}
.rs-message {
    width: 100%;
    padding: 0 30px;
    text-align: center;
    color: red;
}
.rs-table-icon{
    display: block;
    width: 40px;
    height: 40px;
    background-color: grey;
}
.rs-table-icon.rs-icon-pencil{background-image: url(images/pencil_icon.png);}
.rs-icon-pencil:hover {background-color: blue;}

.rs-table-icon.rs-icon-bin {background-image: url(images/bin_icon.png);}
.rs-icon-bin:hover{background-color: red;}

.rb-container table.rs-list-table {
    background-color: white;
}
