
.cards-block{
    width: 100%;
    height: 100%;
    position: relative;
}
.pop-up-main{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.418);
    z-index: 10;
    opacity: 0;
    transition: 2s;
}
.pop-up-container{
    width: 100%;
    height: 500px;
    position: sticky;
    top: 200px;
}
.pop-up-button{
    float: right;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 23pt;
    border-radius: 25px 25px;
    border: 1px solid white;
    margin: 5px;
    line-height: 50px;
    cursor: pointer;
    color: white;

}
.pop-up-button:hover{
    transform: rotate(360deg);
    border-color: orangered;
    transition: .5s;
    color: red;
}
.pop-up-video{
    height: 450px;
}
.content-card{
    height: 207px;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}
.card-UI{
    cursor: pointer;
    position: relative;
}
.card-video{
    background-image: url(img/card-img/CARD_Video.png);
    background-size: 100% 100%;
}
.card-paper{
    background-image: url(img/card-img/CARD_Paper.png);
    background-size: 100% 100%;
}
.card-book{
    background-image: url(img/card-img/CARD_Book.png);
    background-size: 100% 100%;
}
.card-img,
.card-vinetka{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 161px;
    border-radius: 15px 15px 0 0;
}
.card-vinetka{
    background-image: url(http://portal/wp-content/uploads/vtg-card/content-img-card/vinietka.png);
    position: absolute;
    top: 0;
}
.description-card{
    width: 100%;
    height: 100%;
    position: relative;
}
.description-card span{
    position: absolute;
}
.card-title{
    font-size: 17pt;
    color: #547fa0;
    font-weight: bold;
    font-family: Circe;
    text-align: left;
    line-height: 28px;
    left: 23px;
    width: 90%;
    top: 12px;
}
.card-delineation{
    text-align: left;
    line-height: 19px;
    font-size: 12pt;
    padding: 8px 0 0 1px;
    width: 90%;
    top: 40px;
    left: 23px;
}
.card-author{
    bottom: 50px;
    left: 77px;
}
.card-duration{
    bottom: 25px;
    left: 133px;
}
.card-format{
    bottom: 25px;
    left: 89px;
}
.card-site{
    left: 66px;
    bottom: 21px;
}
.card-time{
    right: 4px;
    bottom: -26px;
    font-size: small;
    color: gray;
}